


.top_container {
    -fx-background-color: linear-gradient(to right, #222222d1,  #333333);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.574), 10, 0.5, 0, 0);
    -fx-cursor: hand;
}

.top_containeralt {
    -fx-background-color: linear-gradient(to right, #222222d1,  #333333);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.574), 10, 0.5, 0, 0);
}


.image {
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.348), 10, 0.5, 0, 0);

}

Label {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.348), 10, 0.5, 0, 0);

}

.input_field {
    -fx-background-color: rgba(255, 255, 255, 0.39);
    -fx-font-size: 1em;
    -fx-font-style: System;
    -fx-background-radius: 40;
    -fx-text-fill: #ffffffb4;

}

.input_fieldALT{
    -fx-background-color: rgba(255, 255, 255, 0.39);
    -fx-font-size: 1em;
    -fx-font-style: System;
    -fx-background-radius: 40;
    -fx-text-fill: #ffffffb4;
}

.button_delete {
    -fx-background-color: rgb(255, 161, 161);
}

.button_update {
    -fx-background-color: rgba(135, 143, 255, 0.788);
}

.button_add {
    -fx-background-color: rgba(145, 255, 135, 0.788);
}